
body{
    margin: 0px;
    padding: 0px;
    background-color: rgba(245, 243, 239, 0.582);
}


.imagen-logo{
    width: 90px;
}

.img-auto{

    max-width: 590px;
    width: 100%;
    height: 260px;
    

    /* height: 70vh; */
}

.carousel-altura{
    height: 2rem;
}
.texto-carrusel{
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: aliceblue;
}
.contenedor-clientes{
    padding: 100px;
    padding-left: 50px;
}